arize-phoenix==15.1.0
arize-phoenix-client==2.6.0
openinference-instrumentation-langchain==0.1.63
openinference-instrumentation-openai==0.1.45
langchain==1.2.17
langchain-community==0.4.1
langchain-openai==1.2.1
openai==2.33.0
python-dotenv==1.2.2
ipython==9.13.0